{% extends "base.html" %}
{% load static %}

{% block extra_css%}
<link href="//cdn-images.mailchimp.com/embedcode/classic-061523.css" rel="stylesheet" type="text/css">
<link href="{% static 'newsletter/css/newsletter.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block extra_meta %}
<meta name="aboutus-description" content="Curry Tales, Indian Grocery Store, Authentic Indian Flavors, 
Savoirs, Indian Sweets, Premium Pulses, Aromatic Rice, Exotic Spices, 
Traditional Indian Ingredients, Gourmet Indian Food, Masalas, Organic Grains, 
Curry Tales Savoirs, Curry Tales Sweets, Curry Tales Pulses, Curry Tales Rice, 
Curry Tales Spices, Handpicked Indian Groceries, Homemade Indian Snacks, 
Indian Culinary Essentials, Spice Blends, Ready-to-Cook Indian Meals">
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container mb-2 pb-5">
    <div class="row justify-content-center">
        <div class="col-12 col-md-6">
            <hr>
            <h2 class="logo-font mb-4 text-center">Subscribe to our newsletter!</h2>
            <hr>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-12 col-md-6">
            <div id="mc_embed_shell">
                <div id="mc_embed_signup">
                    <form
                        action="https://herokuapp.us14.list-manage.com/subscribe/post?u=4b14d91f4f20b82e1cb9225c8&amp;id=97aab0f5dd&amp;f_id=005d84e0f0"
                        method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate"
                        target="_blank">
                        <div id="mc_embed_signup_scroll">
                            <div class="mc-field-group">
                                <label for="mce-EMAIL">Email Address
                                    <span class="asterisk">*</span>
                                </label>
                                <input type="email" name="EMAIL" class="required email" id="mce-EMAIL" required=""
                                    value="">
                            </div>
                            <div class="mc-field-group">
                                <label for="mce-FNAME">First Name </label>
                                <input type="text" name="FNAME" class=" text" id="mce-FNAME" value="">
                            </div>
                            <div class="mc-field-group">
                                <label for="mce-LNAME">Last Name </label>
                                <input type="text" name="LNAME" class=" text" id="mce-LNAME" value="">
                            </div>
                            <div class="mc-field-group">
                                <label for="mce-PHONE">Phone Number </label>
                                <input type="text" name="PHONE" class="REQ_CSS" id="mce-PHONE" value="">
                            </div>
                            <div class="mc-field-group size1of2">
                                <label for="mce-BIRTHDAY-month">Birthday </label>
                                <div class="datefield">
                                    <span class="subfield monthfield">
                                        <input class="birthday REQ_CSS" type="text" pattern="[0-9]*" placeholder="MM"
                                            size="2" maxlength="2" name="BIRTHDAY[month]" id="mce-BIRTHDAY-month"
                                            value="">
                                    </span> /
                                    <span class="subfield dayfield">
                                        <input class="birthday REQ_CSS" type="text" pattern="[0-9]*" placeholder="DD"
                                            size="2" maxlength="2" name="BIRTHDAY[day]" id="mce-BIRTHDAY-day"
                                            value=""></span><span class="small-meta nowrap">( mm / dd )
                                    </span>
                                </div>
                            </div>
                            <div id="mce-responses" class="clear foot">
                                <div class="response text-danger" id="mce-error-response" style="display: none;"></div>
                                <div class="response" id="mce-success-response" style="display: none;"></div>
                            </div>
                            <div aria-hidden="true" style="position: absolute; left: -5000px;">
                                /*
                                real people should not fill this in and expect good things -
                                do not remove this or risk form bot signups
                                */
                                <input type="text" name="b_4b14d91f4f20b82e1cb9225c8_97aab0f5dd" tabindex="-1" value="">
                            </div>
                            <div class="optionalParent">
                                <div class="clear foot">
                                    <input type="submit" name="subscribe" id="mc-embedded-subscribe" class="button"
                                        value="Subscribe">
                                    <p style="margin: 0px auto;">
                                        <a href="http://eepurl.com/iR3iAg"
                                            title="Mailchimp - email marketing made easy and fun">
                                            <span
                                                style="display: inline-block; background-color: transparent; border-radius: 4px;">
                                                <img class="refferal_badge"
                                                    src="https://digitalasset.intuit.com/render/content/dam/intuit/mc-fe/en_us/images/intuit-mc-rewards-text-dark.svg"
                                                    alt="Intuit Mailchimp"
                                                    style="width: 220px; height: 40px; display: flex; padding: 2px 0px; justify-content: center; align-items: center;">
                                            </span>
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
<script src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script>
<script>
    (function ($) {
        window.fnames = new Array();
        window.ftypes = new Array();
        fnames[0] = 'EMAIL';
        ftypes[0] = 'email';
        fnames[1] = 'FNAME';
        ftypes[1] = 'text';
        fnames[2] = 'LNAME';
        ftypes[2] = 'text';
        fnames[3] = 'ADDRESS';
        ftypes[3] = 'address';
        fnames[4] = 'PHONE';
        ftypes[4] = 'phone';
        fnames[5] = 'BIRTHDAY';
        ftypes[5] = 'birthday';
        fnames[3] = 'ADDRESS';
        ftypes[3] = 'address';
    }(jQuery));
    var $mcj = jQuery.noConflict(true);
</script>
{% endblock %}