{% extends "base.html" %}
{% load static %}

{% block extra_meta %}
<meta name="aboutus-description" content="Curry Tales, Indian Grocery Store, Authentic Indian Flavors, 
        Savoirs, Indian Sweets, Premium Pulses, Aromatic Rice, Exotic Spices, 
        Traditional Indian Ingredients, Gourmet Indian Food, Masalas, Organic Grains, 
        Curry Tales Savoirs, Curry Tales Sweets, Curry Tales Pulses, Curry Tales Rice, 
        Curry Tales Spices, Handpicked Indian Groceries, Homemade Indian Snacks, 
        Indian Culinary Essentials, Spice Blends, Ready-to-Cook Indian Meals">
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container mb-2 pb-5">
    <div class="row justify-content-center">
        <div class="col-12 col-md-6">
            <hr>
            <h2 class="logo-font mb-4 text-center">Frequently Asked Questions</h2>
            <hr>
            <ul>
        <li><strong>What is Curry Tales?</strong> <br> We sell authentic Indian groceries and snacks online.</li>
        <br>
        <li><strong>Do you ship internationally?</strong> <br> Currently, we only ship within Germany.</li>
        <br>
        <li><strong>Can I cancel my order?</strong> <br> Yes, within 12 hours of placing the order.</li>
    </ul>
        </div>
    </div>

   

   

</div>
{% endblock %}